## <STRONG> IMPORT MY DATABASE INTO PYTHON </STRONG>

In [2]:
import pandas as pd

In [3]:
import mysql.connector

In [4]:
db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "patatas59x",
    database = "transactions"
)

mycursor = db.cursor()
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002C7AFC56950>

In [5]:
mycursor.execute("SELECT * FROM transaction_data")

output = mycursor.fetchall()

for x in output:
    print(x)

(1, 'Gerorgia', '_Karaxristianidou', 101, datetime.date(2024, 2, 19), Decimal('560.80'), 'expense', 'utilities', 'EUR')
(2, 'Fotis', 'Kouros..', 102, datetime.date(2024, 4, 27), Decimal('1000.00'), '', 'rent', 'EUR')
(3, '11Nikos', 'Zisis', 103, datetime.date(2024, 9, 10), Decimal('200.00'), 'income', 'bonus', 'USD')
(3, '..Nikos', 'Zisis', 103, datetime.date(2024, 9, 10), Decimal('200.00'), 'Income', 'bonus', 'USD')
(4, 'Thanos?', '/Lamprou', 104, datetime.date(2024, 5, 2), Decimal('600.00'), 'income', '', 'EUR')
(5, 'Spuros', 'Mixas11', 105, datetime.date(2024, 6, 3), Decimal('100.00'), 'income', 'BONUS', 'EUR')
(6, 'Giorgos', 'Pasas', 106, datetime.date(2024, 1, 12), Decimal('760.00'), 'expence', 'utilities', 'USD')
(7, 'Spuros?', 'Tsoukis', 107, datetime.date(2024, 8, 20), Decimal('300.00'), 'expence', 'rent', '')
(8, '11Manos', 'Dolarios', 108, datetime.date(2024, 3, 24), Decimal('480.00'), '', 'rent', 'EUR')
(9, 'Dimitris...', 'Oikonomou', 109, datetime.date(2024, 8, 28), Decimal('180.00'), '', 'bonus', '')
(1, 'Gerorgia', '_Karaxristianidou', 101, datetime.date(2024, 2, 19), Decimal('560.80'), 'expense', 'utilities', 'EUR')
(10, 'Stathis', 'Gerokomos11', 110, datetime.date(2024, 12, 24), Decimal('1300.00'), '', 'utilities', 'EUR')
(11, '/Kostas', 'Mpoukis', 111, datetime.date(2024, 4, 23), Decimal('300.00'), 'income', 'bonus', '')
(12, 'Grigoris', 'Liordos', 112, datetime.date(2024, 11, 17), Decimal('20.00'), '', 'bonus', 'EUR')

In [6]:
query = "SELECT * FROM transaction_data"

df = pd.read_sql(query,db)

C:\Users\user\AppData\Local\Temp\ipykernel_29360\1212495189.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,db)

## <STRONG> CLEANING OUR DATA </STRONG>

### <strong> check our data </strong>

In [7]:
df

,customer_id,first_name,last_name,transaction_id,transaction_date,Amount,transaction_type,category,currency
0,1,Gerorgia,_Karaxristianidou,101,2024-02-19,560.8,expense,utilities,EUR
1,2,Fotis,Kouros..,102,2024-04-27,1000.0,,rent,EUR
2,3,11Nikos,Zisis,103,2024-09-10,200.0,income,bonus,USD
3,3,..Nikos,Zisis,103,2024-09-10,200.0,Income,bonus,USD
4,4,Thanos?,/Lamprou,104,2024-05-02,600.0,income,,EUR
5,5,Spuros,Mixas11,105,2024-06-03,100.0,income,BONUS,EUR
6,6,Giorgos,Pasas,106,2024-01-12,760.0,expence,utilities,USD
7,7,Spuros?,Tsoukis,107,2024-08-20,300.0,expence,rent,
8,8,11Manos,Dolarios,108,2024-03-24,480.0,,rent,EUR
9,9,Dimitris...,Oikonomou,109,2024-08-28,180.0,,bonus,
10,1,Gerorgia,_Karaxristianidou,101,2024-02-19,560.8,expense,utilities,EUR
11,10,Stathis,Gerokomos11,110,2024-12-24,1300.0,,utilities,EUR
12,11,/Kostas,Mpoukis,111,2024-04-23,300.0,income,bonus,
13,12,Grigoris,Liordos,112,2024-11-17,20.0,,bonus,EUR

### <strong>Remove the duplicates</strong>

In [8]:
df = df.drop_duplicates()
df

,customer_id,first_name,last_name,transaction_id,transaction_date,Amount,transaction_type,category,currency
0,1,Gerorgia,_Karaxristianidou,101,2024-02-19,560.8,expense,utilities,EUR
1,2,Fotis,Kouros..,102,2024-04-27,1000.0,,rent,EUR
2,3,11Nikos,Zisis,103,2024-09-10,200.0,income,bonus,USD
3,3,..Nikos,Zisis,103,2024-09-10,200.0,Income,bonus,USD
4,4,Thanos?,/Lamprou,104,2024-05-02,600.0,income,,EUR
5,5,Spuros,Mixas11,105,2024-06-03,100.0,income,BONUS,EUR
6,6,Giorgos,Pasas,106,2024-01-12,760.0,expence,utilities,USD
7,7,Spuros?,Tsoukis,107,2024-08-20,300.0,expence,rent,
8,8,11Manos,Dolarios,108,2024-03-24,480.0,,rent,EUR
9,9,Dimitris...,Oikonomou,109,2024-08-28,180.0,,bonus,
11,10,Stathis,Gerokomos11,110,2024-12-24,1300.0,,utilities,EUR
12,11,/Kostas,Mpoukis,111,2024-04-23,300.0,income,bonus,
13,12,Grigoris,Liordos,112,2024-11-17,20.0,,bonus,EUR

### <strong> Fix our columns (first and last names) using strip </strong>

In [11]:
df["first_name"] = df["first_name"].str.strip("?1./")
df["last_name"] = df["last_name"].str.strip("_./1")
df

C:\Users\user\AppData\Local\Temp\ipykernel_29360\3779658262.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["first_name"] = df["first_name"].str.strip("?1./")
C:\Users\user\AppData\Local\Temp\ipykernel_29360\3779658262.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["last_name"] = df["last_name"].str.strip("_./1")

,customer_id,first_name,last_name,transaction_id,transaction_date,Amount,transaction_type,category,currency
0,1,Gerorgia,Karaxristianidou,101,2024-02-19,560.8,expense,utilities,EUR
1,2,Fotis,Kouros,102,2024-04-27,1000.0,,rent,EUR
2,3,Nikos,Zisis,103,2024-09-10,200.0,income,bonus,USD
3,3,Nikos,Zisis,103,2024-09-10,200.0,income,bonus,USD
4,4,Thanos,Lamprou,104,2024-05-02,600.0,income,,EUR
5,5,Spuros,Mixas,105,2024-06-03,100.0,income,BONUS,EUR
6,6,Giorgos,Pasas,106,2024-01-12,760.0,expence,utilities,USD
7,7,Spuros,Tsoukis,107,2024-08-20,300.0,expence,rent,
8,8,Manos,Dolarios,108,2024-03-24,480.0,,rent,EUR
9,9,Dimitris,Oikonomou,109,2024-08-28,180.0,,bonus,
11,10,Stathis,Gerokomos,110,2024-12-24,1300.0,,utilities,EUR
12,11,Kostas,Mpoukis,111,2024-04-23,300.0,income,bonus,
13,12,Grigoris,Liordos,112,2024-11-17,20.0,,bonus,EUR

### <strong> Fix the transaction_type and category columns using "replace" </strong>

In [10]:
df["transaction_type"] = df["transaction_type"].str.replace("Income","income")
df

C:\Users\user\AppData\Local\Temp\ipykernel_29360\2682014149.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["transaction_type"] = df["transaction_type"].str.replace("Income","income")

,customer_id,first_name,last_name,transaction_id,transaction_date,Amount,transaction_type,category,currency
0,1,Gerorgia,Karaxristianidou,101,2024-02-19,560.8,expense,utilities,EUR
1,2,Fotis,Kouros,102,2024-04-27,1000.0,,rent,EUR
2,3,Nikos,Zisis,103,2024-09-10,200.0,income,bonus,USD
3,3,Nikos,Zisis,103,2024-09-10,200.0,income,bonus,USD
4,4,Thanos,Lamprou,104,2024-05-02,600.0,income,,EUR
5,5,Spuros,Mixas,105,2024-06-03,100.0,income,BONUS,EUR
6,6,Giorgos,Pasas,106,2024-01-12,760.0,expence,utilities,USD
7,7,Spuros,Tsoukis,107,2024-08-20,300.0,expence,rent,
8,8,Manos,Dolarios,108,2024-03-24,480.0,,rent,EUR
9,9,Dimitris,Oikonomou,109,2024-08-28,180.0,,bonus,
11,10,Stathis,Gerokomos,110,2024-12-24,1300.0,,utilities,EUR
12,11,Kostas,Mpoukis,111,2024-04-23,300.0,income,bonus,
13,12,Grigoris,Liordos,112,2024-11-17,20.0,,bonus,EUR

In [12]:
df["category"] = df["category"].str.replace("BONUS","bonus")
df

C:\Users\user\AppData\Local\Temp\ipykernel_29360\1974203049.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["category"] = df["category"].str.replace("BONUS","bonus")

,customer_id,first_name,last_name,transaction_id,transaction_date,Amount,transaction_type,category,currency
0,1,Gerorgia,Karaxristianidou,101,2024-02-19,560.8,expense,utilities,EUR
1,2,Fotis,Kouros,102,2024-04-27,1000.0,,rent,EUR
2,3,Nikos,Zisis,103,2024-09-10,200.0,income,bonus,USD
3,3,Nikos,Zisis,103,2024-09-10,200.0,income,bonus,USD
4,4,Thanos,Lamprou,104,2024-05-02,600.0,income,,EUR
5,5,Spuros,Mixas,105,2024-06-03,100.0,income,bonus,EUR
6,6,Giorgos,Pasas,106,2024-01-12,760.0,expence,utilities,USD
7,7,Spuros,Tsoukis,107,2024-08-20,300.0,expence,rent,
8,8,Manos,Dolarios,108,2024-03-24,480.0,,rent,EUR
9,9,Dimitris,Oikonomou,109,2024-08-28,180.0,,bonus,
11,10,Stathis,Gerokomos,110,2024-12-24,1300.0,,utilities,EUR
12,11,Kostas,Mpoukis,111,2024-04-23,300.0,income,bonus,
13,12,Grigoris,Liordos,112,2024-11-17,20.0,,bonus,EUR

### <strong> Fill in the blancks/Null values </strong>

In [13]:
df.loc[df["category"] == "rent", "transaction_type"] = "expence"
df.loc[df["category"] == "utilities", "transaction_type"] = "expence"
df.loc[df["category"] == "bonus", "transaction_type"] = "income"
df.loc[df["transaction_type"] == "income", "category"] = "bonus"
df

,customer_id,first_name,last_name,transaction_id,transaction_date,Amount,transaction_type,category,currency
0,1,Gerorgia,Karaxristianidou,101,2024-02-19,560.8,expence,utilities,EUR
1,2,Fotis,Kouros,102,2024-04-27,1000.0,expence,rent,EUR
2,3,Nikos,Zisis,103,2024-09-10,200.0,income,bonus,USD
3,3,Nikos,Zisis,103,2024-09-10,200.0,income,bonus,USD
4,4,Thanos,Lamprou,104,2024-05-02,600.0,income,bonus,EUR
5,5,Spuros,Mixas,105,2024-06-03,100.0,income,bonus,EUR
6,6,Giorgos,Pasas,106,2024-01-12,760.0,expence,utilities,USD
7,7,Spuros,Tsoukis,107,2024-08-20,300.0,expence,rent,
8,8,Manos,Dolarios,108,2024-03-24,480.0,expence,rent,EUR
9,9,Dimitris,Oikonomou,109,2024-08-28,180.0,income,bonus,
11,10,Stathis,Gerokomos,110,2024-12-24,1300.0,expence,utilities,EUR
12,11,Kostas,Mpoukis,111,2024-04-23,300.0,income,bonus,
13,12,Grigoris,Liordos,112,2024-11-17,20.0,income,bonus,EUR

### <strong> Drop down the rows without any currency </strong>

In [14]:
for x in df.index: 
   if df.loc[x, "currency"] == '':
       df.drop(x, inplace = True)
df

C:\Users\user\AppData\Local\Temp\ipykernel_29360\2356902634.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(x, inplace = True)
C:\Users\user\AppData\Local\Temp\ipykernel_29360\2356902634.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(x, inplace = True)
C:\Users\user\AppData\Local\Temp\ipykernel_29360\2356902634.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(x, inplace = True)

,customer_id,first_name,last_name,transaction_id,transaction_date,Amount,transaction_type,category,currency
0,1,Gerorgia,Karaxristianidou,101,2024-02-19,560.8,expence,utilities,EUR
1,2,Fotis,Kouros,102,2024-04-27,1000.0,expence,rent,EUR
2,3,Nikos,Zisis,103,2024-09-10,200.0,income,bonus,USD
3,3,Nikos,Zisis,103,2024-09-10,200.0,income,bonus,USD
4,4,Thanos,Lamprou,104,2024-05-02,600.0,income,bonus,EUR
5,5,Spuros,Mixas,105,2024-06-03,100.0,income,bonus,EUR
6,6,Giorgos,Pasas,106,2024-01-12,760.0,expence,utilities,USD
8,8,Manos,Dolarios,108,2024-03-24,480.0,expence,rent,EUR
11,10,Stathis,Gerokomos,110,2024-12-24,1300.0,expence,utilities,EUR
13,12,Grigoris,Liordos,112,2024-11-17,20.0,income,bonus,EUR

### <strong>Remove AGAIN the duplicates</strong>

In [15]:
df = df.drop_duplicates()

### <strong> Dataset afte cleaning </strong>

In [16]:
df

,customer_id,first_name,last_name,transaction_id,transaction_date,Amount,transaction_type,category,currency
0,1,Gerorgia,Karaxristianidou,101,2024-02-19,560.8,expence,utilities,EUR
1,2,Fotis,Kouros,102,2024-04-27,1000.0,expence,rent,EUR
2,3,Nikos,Zisis,103,2024-09-10,200.0,income,bonus,USD
4,4,Thanos,Lamprou,104,2024-05-02,600.0,income,bonus,EUR
5,5,Spuros,Mixas,105,2024-06-03,100.0,income,bonus,EUR
6,6,Giorgos,Pasas,106,2024-01-12,760.0,expence,utilities,USD
8,8,Manos,Dolarios,108,2024-03-24,480.0,expence,rent,EUR
11,10,Stathis,Gerokomos,110,2024-12-24,1300.0,expence,utilities,EUR
13,12,Grigoris,Liordos,112,2024-11-17,20.0,income,bonus,EUR

### <strong> Spelling correction </strong>

In [17]:
df["transaction_type"] = df["transaction_type"].str.replace("expence","expense")
df

C:\Users\user\AppData\Local\Temp\ipykernel_29360\3526873208.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["transaction_type"] = df["transaction_type"].str.replace("expence","expense")

,customer_id,first_name,last_name,transaction_id,transaction_date,Amount,transaction_type,category,currency
0,1,Gerorgia,Karaxristianidou,101,2024-02-19,560.8,expense,utilities,EUR
1,2,Fotis,Kouros,102,2024-04-27,1000.0,expense,rent,EUR
2,3,Nikos,Zisis,103,2024-09-10,200.0,income,bonus,USD
4,4,Thanos,Lamprou,104,2024-05-02,600.0,income,bonus,EUR
5,5,Spuros,Mixas,105,2024-06-03,100.0,income,bonus,EUR
6,6,Giorgos,Pasas,106,2024-01-12,760.0,expense,utilities,USD
8,8,Manos,Dolarios,108,2024-03-24,480.0,expense,rent,EUR
11,10,Stathis,Gerokomos,110,2024-12-24,1300.0,expense,utilities,EUR
13,12,Grigoris,Liordos,112,2024-11-17,20.0,income,bonus,EUR

### <strong> Create a csv file </strong>

In [19]:
df.to_csv("transactions.csv", index=False, encoding="utf-8")

## <strong> REGRESSION </strong>

In [21]:
import numpy as np 
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error

In [24]:
df

,customer_id,first_name,last_name,transaction_id,transaction_date,Amount,transaction_type,category,currency
0,1,Gerorgia,Karaxristianidou,101,2024-02-19,560.8,expense,utilities,EUR
1,2,Fotis,Kouros,102,2024-04-27,1000.0,expense,rent,EUR
2,3,Nikos,Zisis,103,2024-09-10,200.0,income,bonus,USD
4,4,Thanos,Lamprou,104,2024-05-02,600.0,income,bonus,EUR
5,5,Spuros,Mixas,105,2024-06-03,100.0,income,bonus,EUR
6,6,Giorgos,Pasas,106,2024-01-12,760.0,expense,utilities,USD
8,8,Manos,Dolarios,108,2024-03-24,480.0,expense,rent,EUR
11,10,Stathis,Gerokomos,110,2024-12-24,1300.0,expense,utilities,EUR
13,12,Grigoris,Liordos,112,2024-11-17,20.0,income,bonus,EUR

In [39]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

In [40]:
X = df[['Amount', 'transaction_type', 'currency']]
X_encoded = pd.get_dummies(X, columns=['transaction_type', 'currency'])
y = df['category']

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

In [44]:
model = RandomForestClassifier()
model.fit(X_train, y_train)
accuracy = model.score(X_test, y_test)
accuracy

0.5

In [49]:
y_pred = model.predict(X_test)
y_pred_proba = model.predict_proba(X_test)

array([[0.07, 0.17, 0.76],
       [0.07, 0.17, 0.76]])

In [50]:
y_pred

array(['utilities', 'utilities'], dtype=object)